<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>C+R Friends</title>
    <style>
        .input_container{
            margin-left: 400px;
            width:400px;
            margin-top: 15px;    
        }

        button{
            margin-left: 150px;
        }

    </style>
  </head>
  <body class="bg-secondary text-white">
      <h1 class="h1">These are my friends!</h1>
      <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Occupation</th>
              </tr>
            </thead>
            <tbody>
                {% for friend in friends%}
                    <tr>
                        <th>{{friend.first_name}}</th>
                        <th>{{friend.last_name}}</th>
                        <th>{{friend.occupation}}</th>
                    </tr>
                {% endfor %}
             
            </tbody>
          </table>

      
      <div class="input_container">
            <h1 class="h1"><u>Add a friend</u></h1>
          <form action="add_homie" method="post">
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">First Name: </span>
                        </div>
                        <input type="text" class="form-control "  aria-label="Username" aria-describedby="basic-addon1" name="first_name">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Last Name: </span>
                </div>
                    <input type="text" class="form-control "  aria-label="Username" aria-describedby="basic-addon1" name="last_name">
                </div>
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Occupation: </span>
                        </div>
                        <input type="text" class="form-control "  aria-label="Username" aria-describedby="basic-addon1" name="occupation">
                </div>
                <button type="submit" class="btn btn-outline-warning" value="submit">Add Friend</button>
            </form>
                

      </div>
    

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>