<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>HTML Table</title>
  </head>
  <body class="p-0 mb-2 bg-secondary text-white">

    <div>
            <table class="table table-bordered table-dark">

                    <nav class="navbar navbar-dark bg-dark">
                            <span class="navbar-brand mb-2 h1">HTML Table</span>
                          </nav>

                          <div class="pt-5 container">
                                <div class="row">
                                  <div class="col-sm">
                                        <thead class="thead-light">
                                                <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">First name</th>
                                                  <th scope="col">Last name</th>
                                                  
                                                </tr>
                                        </thead>
                                        <tbody>
                                            {%for name in users%}
                                                <tr>
                                                  <th scope="row">{{name['entry_number']}}</th>
                                                  <td>{{name['first_name']}}</td>
                                                  <td>{{name['last_name']}}</td>
                                                 
                                                </tr>
                                            {%endfor%}
                                              
                                        </tbody>
                            
                                </table>
                                  </div>
                          
                    
    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>